#vboxLeft {
    -fx-background-color: #000;
    -fx-border-color: #20c20e;
    -fx-border-width: 3px;
    -fx-padding: 50px;
}

#vboxBottom {
    -fx-background-color: #000;
    -fx-border-color: #20c20e;
    -fx-border-width: 3px;
    -fx-padding: 100px;
}

#gridpaneCenter {
    -fx-background-color: #000;
}

#smartNetworkTabLabel {
    -fx-text-fill: #20c20e;
    -fx-font-family: AnjaliOldLipi;
    -fx-font-size: 22px;
}

#buildNetworkButton {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #20c20e;
    -fx-alignment: center;
    -fx-cursor: hand;
}

#buildNetworkButton:hover {
    -fx-font-weight: bold;
}

#jsonSnapShotButton {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #20c20e;
    -fx-alignment: center;
    -fx-cursor: hand;
}

#jsonSnapShotButton:hover {
    -fx-font-weight: bold;
}